In [2]:
import pandas as pd

In [ ]:
# without setting max_rows
pd.read_csv(r"data/baseball.csv", index_col='id')

In [3]:
# after setting max_rows
pd.set_option('display.max_rows',10)
baseball=pd.read_csv(r"data/baseball.csv", index_col='id')
baseball

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# customizing index
player_id=baseball.player+baseball.year.astype(str)
baseball_with_new_index=baseball.copy()
baseball_with_new_index.index=player_id
baseball_with_new_index

In [ ]:
# checking uniqueness of the index
baseball_with_new_index.index.is_unique

In [ ]:
# checking counts of each index
pd.Series(baseball_with_new_index.index).value_counts()

In [ ]:
# getting records using index value
baseball_with_new_index.loc['francju012007']

In [38]:
# creating unique index
player_unique=baseball.player+baseball.team+baseball.year.astype(str)
baseball_with_new_index=baseball.copy()
baseball_with_new_index.index=player_unique
baseball_with_new_index

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu01BOS2006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi01NYA2006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri01MIL2006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra05NYA2006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
benitar01FLO2007,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
benitar01SFN2007,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
ausmubr01HOU2007,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
aloumo01NYN2007,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
alomasa02NYN2007,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# now index is unique 
baseball_with_new_index.index.is_unique

# Manipulating index

In [ ]:
# getting index values of the baseball
baseball.index.values

In [ ]:
# using reindex changing the order of the rows(Reverse order)
baseball.reindex(baseball.index[::-1]).head()

In [ ]:
id_range = range(baseball.index.values.min(), baseball.index.values.max())
id_range

In [ ]:
89534-88641

In [ ]:
pd.set_option('display.max_rows',100)
baseball.reindex(id_range)

In [ ]:
baseball.reindex(id_range,method='ffill')

In [ ]:
baseball.reindex(id_range,fill_value='charliebrown',columns=['player'])

In [ ]:
baseball.reindex(id_range,fill_value='charliebrown')

In [ ]:
baseball.shape

In [ ]:
# removing rows
baseball.drop([89533,89534])

In [ ]:
baseball.copy().drop()

In [ ]:
# removing columns
baseball.drop(['player'],axis=1)

# Indexing and selection

In [ ]:
hits=baseball_with_new_index.h
hits

In [ ]:
#Numpy style indexing
hits[:3]

In [ ]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

In [ ]:
baseball_with_new_index[['h','ab']]

In [ ]:
baseball_with_new_index[baseball_with_new_index.ab>500]

In [ ]:
baseball_with_new_index.query('ab>500')

In [ ]:
min_ab=450
baseball_with_new_index.query('ab>@min_ab')

# Indexing with labels

In [ ]:
baseball_with_new_index.loc['gonzalu01ARI2006',['player','year']]

In [ ]:
baseball_with_new_index.loc['gonzalu01ARI2006','player']

In [ ]:
baseball_with_new_index.loc['gonzalu01ARI2006','player':'g']

In [ ]:
baseball_with_new_index.loc[:'gonzalu01ARI2006','player']

# Indexing with positions

In [ ]:
# indexing with positions
baseball_with_new_index.iloc[:5, 5:8]

In [ ]:
# Use isin to find all players that played for the Los Angeles Dodgers (LAN) or the San Francisco Giants (SFN). How many records contain these values?
len(baseball_with_new_index[baseball_with_new_index['team'].isin(['LAN','SFN'])])

# Operations

In [9]:
hr2006 = baseball.loc[baseball.year==2006, 'hr']
hr2006.index= baseball.player[baseball.year==2006]
hr2006

player
womacto01     1
schilcu01     0
myersmi01     0
helliri01     0
johnsra05     0
finlest01     6
gonzalu01    15
seleaa01      0
Name: hr, dtype: int64

In [10]:
hr2007 = baseball.loc[baseball.year==2007, 'hr']
hr2007.index = baseball.player[baseball.year==2007]
hr2007

player
francju01     0
francju01     1
zaungr01     10
witasja01     0
williwo02     1
             ..
benitar01     0
benitar01     0
ausmubr01     3
aloumo01     13
alomasa02     0
Name: hr, Length: 92, dtype: int64

In [11]:
hr_total=hr2006+hr2007
hr_total

player
alomasa02   NaN
aloumo01    NaN
ausmubr01   NaN
benitar01   NaN
benitar01   NaN
             ..
wickmbo01   NaN
williwo02   NaN
witasja01   NaN
womacto01   NaN
zaungr01    NaN
Name: hr, Length: 94, dtype: float64

In [12]:
hr_total[hr_total.notnull()]

player
finlest01     7.0
gonzalu01    30.0
johnsra05     0.0
myersmi01     0.0
schilcu01     0.0
seleaa01      0.0
Name: hr, dtype: float64

In [16]:
hr2007.add(hr2006,fill_value=0)

player
alomasa02     0.0
aloumo01     13.0
ausmubr01     3.0
benitar01     0.0
benitar01     0.0
             ...
wickmbo01     0.0
williwo02     1.0
witasja01     0.0
womacto01     1.0
zaungr01     10.0
Name: hr, Length: 94, dtype: float64

In [17]:
baseball.hr-baseball.hr.max()

id
88641   -34
88643   -35
88645   -35
88649   -35
88650   -35
         ..
89525   -35
89526   -35
89530   -32
89533   -22
89534   -35
Name: hr, Length: 100, dtype: int64

In [18]:
baseball.loc[89521, "player"]

'bondsba01'

In [22]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
stats

         h  X2b  X3b  hr
id
88641   14    1    0   1
88643    1    0    0   0
88645    0    0    0   0
88649    0    0    0   0
88650    1    0    0   0
...    ...  ...  ...  ..
89525    0    0    0   0
89526    0    0    0   0
89530   82   16    3   3
89533  112   19    1  13
89534    3    1    0   0

[100 rows x 4 columns]

In [23]:
diff = stats - stats.loc[89521]
diff[:10]

        h  X2b  X3b  hr
id
88641 -80  -13    0 -27
88643 -93  -14    0 -28
88645 -94  -14    0 -28
88649 -94  -14    0 -28
88650 -93  -14    0 -28
88652  11    7   12 -22
88653  65   38    2 -13
88662 -89  -13    0 -28
89177 -84  -11    0 -28
89178 -84  -14    0 -27

In [24]:
import numpy as np

In [25]:
stats.apply(np.median)

h      8.0
X2b    1.0
X3b    0.0
hr     0.0
dtype: float64

In [34]:
def range_calc(x):
    return x.max() - x.min()

In [35]:
stat_range = lambda x: x.max() - x.min()
stats.apply(range_calc)

h      159
X2b     52
X3b     12
hr      35
dtype: int64

In [36]:
def slugging(x): 
    bases = x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr']
    ab = x['ab']+1e-6
    
    return bases/ab

baseball.apply(slugging, axis=1).round(3)

id
88641    0.360
88643    0.500
88645    0.000
88649    0.000
88650    0.167
         ...
89525    0.000
89526    0.000
89530    0.324
89533    0.524
89534    0.182
Length: 100, dtype: float64

In [39]:
baseball_with_new_index.sort_index().head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
alomasa02NYN2007,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
aloumo01NYN2007,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
ausmubr01HOU2007,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
benitar01FLO2007,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
benitar01SFN2007,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
baseball_with_new_index.sort_index(ascending=False).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
zaungr01TOR2007,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
witasja01TBA2007,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
williwo02HOU2007,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
wickmbo01ATL2007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
baseball_with_new_index.sort_index(axis=1).head()

,X2b,X3b,ab,bb,cs,g,gidp,h,hbp,hr,...,player,r,rbi,sb,sf,sh,so,stint,team,year
womacto01CHN2006,1,0,50,4,1.0,19,0.0,14,0.0,1,...,womacto01,6,2.0,1.0,0.0,3.0,4.0,2,CHN,2006
schilcu01BOS2006,0,0,2,0,0.0,31,0.0,1,0.0,0,...,schilcu01,0,0.0,0.0,0.0,0.0,1.0,1,BOS,2006
myersmi01NYA2006,0,0,0,0,0.0,62,0.0,0,0.0,0,...,myersmi01,0,0.0,0.0,0.0,0.0,0.0,1,NYA,2006
helliri01MIL2006,0,0,3,0,0.0,20,0.0,0,0.0,0,...,helliri01,0,0.0,0.0,0.0,0.0,2.0,1,MIL,2006
johnsra05NYA2006,0,0,6,0,0.0,33,0.0,1,0.0,0,...,johnsra05,0,0.0,0.0,0.0,0.0,4.0,1,NYA,2006

In [42]:
baseball_with_new_index.sort_index(axis=1,ascending=False).head()

,year,team,stint,so,sh,sf,sb,rbi,r,player,...,hr,hbp,h,gidp,g,cs,bb,ab,X3b,X2b
womacto01CHN2006,2006,CHN,2,4.0,3.0,0.0,1.0,2.0,6,womacto01,...,1,0.0,14,0.0,19,1.0,4,50,0,1
schilcu01BOS2006,2006,BOS,1,1.0,0.0,0.0,0.0,0.0,0,schilcu01,...,0,0.0,1,0.0,31,0.0,0,2,0,0
myersmi01NYA2006,2006,NYA,1,0.0,0.0,0.0,0.0,0.0,0,myersmi01,...,0,0.0,0,0.0,62,0.0,0,0,0,0
helliri01MIL2006,2006,MIL,1,2.0,0.0,0.0,0.0,0.0,0,helliri01,...,0,0.0,0,0.0,20,0.0,0,3,0,0
johnsra05NYA2006,2006,NYA,1,4.0,0.0,0.0,0.0,0.0,0,johnsra05,...,0,0.0,1,0.0,33,0.0,0,6,0,0

In [43]:
baseball.hr.sort_values()

id
89534     0
89365     0
89469     0
89367     0
89370     0
         ..
89378    25
89361    26
89521    28
89462    30
89360    35
Name: hr, Length: 100, dtype: int64

In [44]:
baseball[['player','sb','cs']].sort_values(ascending=[False,True],by=['sb','cs']).head(10)

          player    sb   cs
id
89378  sheffga01  22.0  5.0
89430  loftoke01  21.0  4.0
89347  vizquom01  14.0  6.0
89463  greensh01  11.0  1.0
88652  finlest01   7.0  0.0
89462  griffke02   6.0  1.0
89530  ausmubr01   6.0  1.0
89466  gonzalu01   6.0  2.0
89521  bondsba01   5.0  0.0
89438  kleskry01   5.0  1.0

In [45]:
baseball.hr.rank()

id
88641    62.5
88643    29.0
88645    29.0
88649    29.0
88650    29.0
         ...
89525    29.0
89526    29.0
89530    71.5
89533    88.0
89534    29.0
Name: hr, Length: 100, dtype: float64