In [1]:
import pandas as pd

In [2]:
# without setting max_rows
pd.read_csv(r"data/baseball.csv", index_col='id')

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40.0,7.0,0.0,46,55.0,2.0,2.0,3.0,4.0,6.0
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73.0,0.0,1.0,69,58.0,10.0,7.0,0.0,6.0,14.0
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0.0,0.0,0.0,1,7.0,0.0,0.0,6.0,0.0,1.0
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8.0,0.0,0.0,4,10.0,1.0,0.0,0.0,1.0,1.0
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8.0,2.0,1.0,10,13.0,0.0,0.0,0.0,1.0,1.0
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52.0,0.0,0.0,51,55.0,8.0,2.0,1.0,6.0,9.0
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2.0,0.0,0.0,0,25.0,0.0,0.0,5.0,0.0,1.0
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,...,20.0,0.0,0.0,6,19.0,0.0,3.0,0.0,1.0,2.0
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1.0,0.0,0.0,0,6.0,0.0,0.0,0.0,0.0,0.0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,...,0.0,0.0,0.0,0,12.0,0.0,0.0,4.0,0.0,0.0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,...,4.0,0.0,0.0,2,4.0,0.0,0.0,0.0,2.0,2.0
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51.0,14.0,6.0,44,48.0,6.0,1.0,14.0,3.0,14.0
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,...,18.0,2.0,1.0,15,28.0,4.0,0.0,1.0,1.0,5.0
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,96.0,0.0,1.0,95,134.0,11.0,6.0,0.0,3.0,10.0
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95.0,0.0,0.0,81,94.0,3.0,7.0,0.0,5.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93.0,6.0,1.0,85,99.0,14.0,1.0,0.0,9.0,14.0
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,46.0,11.0,1.0,37,62.0,4.0,5.0,1.0,1.0,14.0
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,...,30.0,0.0,1.0,24,44.0,6.0,3.0,0.0,2.0,7.0
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68.0,6.0,2.0,56,56.0,4.0,4.0,0.0,2.0,11.0
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,...,5.0,0.0,0.0,0,6.0,0.0,0.0,1.0,1.0,1.0
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,16.0,1.0,2.0,10,20.0,1.0,0.0,5.0,1.0,5.0
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,...,4.0,0.0,0.0,6,5.0,0.0,0.0,12.0,1.0,0.0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,45.0,0.0,0.0,35,47.0,5.0,5.0,0.0,0.0,6.0
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,...,2.0,0.0,0.0,8,4.0,1.0,0.0,0.0,0.0,2.0
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,...,53.0,0.0,2.0,41,75.0,2.0,0.0,2.0,3.0,9.0
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,26.0,0.0,1.0,19,35.0,1.0,5.0,0.0,1.0,2.0
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87.0,4.0,0.0,52,118.0,8.0,11.0,0.0,6.0,12.0
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,...,5.0,0.0,0.0,7,8.0,2.0,0.0,1.0,1.0,1.0
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,...,32.0,4.0,0.0,20,28.0,0.0,0.0,1.0,6.0,4.0
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,2.0
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,...,12.0,2.0,1.0,14,50.0,0.0,1.0,3.0,3.0,8.0
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,...,6.0,0.0,0.0,4,6.0,0.0,0.0,0.0,0.0,1.0
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,21.0,2.0,0.0,15,13.0,0.0,1.0,3.0,2.0,9.0
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66.0,5.0,0.0,132,54.0,43.0,3.0,0.0,2.0,13.0
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50.0,4.0,3.0,23,112.0,0.0,3.0,7.0,5.0,5.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# after setting max_rows
pd.set_option('display.max_rows',10)
baseball=pd.read_csv(r"data/baseball.csv", index_col='id')
baseball

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# customizing index
player_id=baseball.player+baseball.year.astype(str)
baseball_with_new_index=baseball.copy()
baseball_with_new_index.index=player_id
baseball_with_new_index

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto012006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu012006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi012006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri012006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra052006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
benitar012007,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
benitar012007,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
ausmubr012007,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
aloumo012007,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
alomasa022007,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# checking uniqueness of the index
baseball_with_new_index.index.is_unique

False

In [9]:
# checking counts of each index
pd.Series(baseball_with_new_index.index).value_counts()

francju012007    2
benitar012007    2
coninje012007    2
trachst012007    2
loftoke012007    2
                ..
greensh012007    1
hoffmtr012007    1
whitero022007    1
stairma012007    1
villoro012007    1
Length: 88, dtype: int64

In [10]:
# getting records using index value
baseball_with_new_index.loc['francju012007']

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
francju012007,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8.0,0.0,0.0,4,10.0,1.0,0.0,0.0,1.0,1.0
francju012007,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8.0,2.0,1.0,10,13.0,0.0,0.0,0.0,1.0,1.0

In [11]:
# creating unique index
player_unique=baseball.player+baseball.team+baseball.year.astype(str)
baseball_with_new_index=baseball.copy()
baseball_with_new_index.index=player_unique
baseball_with_new_index

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2.0,1.0,1.0,4,4.0,0.0,0.0,3.0,0.0,0.0
schilcu01BOS2006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
myersmi01NYA2006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
helliri01MIL2006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
johnsra05NYA2006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0.0,0.0,0.0,0,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
benitar01FLO2007,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
benitar01SFN2007,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
ausmubr01HOU2007,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
aloumo01NYN2007,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
alomasa02NYN2007,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# now index is unique 
baseball_with_new_index.index.is_unique

True

In [13]:
# getting index values of the baseball
baseball.index.values

array([88641, 88643, 88645, 88649, 88650, 88652, 88653, 88662, 89177,
       89178, 89330, 89333, 89334, 89335, 89336, 89337, 89338, 89339,
       89340, 89341, 89343, 89345, 89347, 89348, 89352, 89354, 89355,
       89359, 89360, 89361, 89363, 89365, 89366, 89367, 89368, 89370,
       89371, 89372, 89374, 89375, 89378, 89381, 89382, 89383, 89384,
       89385, 89388, 89389, 89396, 89398, 89400, 89402, 89406, 89410,
       89411, 89412, 89420, 89421, 89425, 89426, 89429, 89430, 89431,
       89438, 89439, 89442, 89445, 89450, 89451, 89452, 89460, 89462,
       89463, 89464, 89465, 89466, 89467, 89468, 89469, 89473, 89474,
       89480, 89481, 89482, 89489, 89493, 89494, 89495, 89497, 89498,
       89499, 89501, 89502, 89521, 89523, 89525, 89526, 89530, 89533,
       89534], dtype=int64)

In [14]:
# using reindex changing the order of the rows(Reverse order)
baseball.reindex(baseball.index[::-1]).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49.0,3.0,0.0,27,30.0,5.0,2.0,0.0,3.0,13.0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25.0,6.0,1.0,37,74.0,3.0,6.0,4.0,1.0,11.0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0