# Pandas DataFrame Series exercise

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [5]:
# without paranthesis 
data[data.phylum.str.endswith('bacteria') & data.value>1000]

Empty DataFrame
Columns: [patient, phylum, value]
Index: []

In [6]:
#with paranthesis
data[data.phylum.str.endswith('bacteria') & (data.value>1000)]

   patient          phylum  value
1        1  Proteobacteria   1638
5        2  Proteobacteria   1130

In [7]:
treatment=pd.Series([0]*4+[1]*2)
treatment

0    0
1    0
2    0
3    0
4    1
5    1
dtype: int64

In [8]:
# new series values are added according to the index.
data['treatment']=treatment
data

   patient          phylum  value  treatment
0        1      Firmicutes    632        0.0
1        1  Proteobacteria   1638        0.0
2        1  Actinobacteria    569        0.0
3        1   Bacteroidetes    115        0.0
4        2      Firmicutes    433        1.0
5        2  Proteobacteria   1130        1.0
6        2  Actinobacteria    754        NaN
7        2   Bacteroidetes    555        NaN

In [9]:
len(data)

8

In [10]:
data['month']=['Jan','Feb','Mar','Apr']

ValueError: Length of values does not match length of index

In [12]:
data['month']=['Jan']*len(data)
data

   patient          phylum  value  treatment month
0        1      Firmicutes    632        0.0   Jan
1        1  Proteobacteria   1638        0.0   Jan
2        1  Actinobacteria    569        0.0   Jan
3        1   Bacteroidetes    115        0.0   Jan
4        2      Firmicutes    433        1.0   Jan
5        2  Proteobacteria   1130        1.0   Jan
6        2  Actinobacteria    754        NaN   Jan
7        2   Bacteroidetes    555        NaN   Jan

In [13]:
# drop removes rows or columns, by default it will remove row. using axis, we can mention row or column to be removed.
data.drop('month',axis=1,inplace=True)
data

   patient          phylum  value  treatment
0        1      Firmicutes    632        0.0
1        1  Proteobacteria   1638        0.0
2        1  Actinobacteria    569        0.0
3        1   Bacteroidetes    115        0.0
4        2      Firmicutes    433        1.0
5        2  Proteobacteria   1130        1.0
6        2  Actinobacteria    754        NaN
7        2   Bacteroidetes    555        NaN